<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.net_navigation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" /> <!--  인터넷 권한 선언-->


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cnsl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cnsl_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--재민-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyBbF-0_zrOLTh7_V6fJ-b84V9pdryH_7IE"/>-->
        <!-- 소영-->
       <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_P17g5T2TKL_kCTJo-l23BvtRqoCm13k"/>


    </application>

</manifest>